## [Start] Parse owner field auth for Get. **
#if( $util.isList($ctx.source.author) )
  #set( $ownerEntitiesList = [] )
  #set( $author = $ctx.source.author )
  #foreach( $entities in $author )
    #set( $ownerEntities = $entities.split("::") )
    #set( $ownerEntitiesLastIdx = $ownerEntities.size() - 1 )
    #set( $ownerEntitiesLast = $ownerEntities[$ownerEntitiesLastIdx] )
    $util.qr($ownerEntitiesList.add($ownerEntitiesLast))
  #end
  $util.qr($ctx.source.author.put($ownerEntitiesList))
  $util.toJson($ownerEntitiesList)
#else
  #set( $ownerEntities = $ctx.source.author.split("::") )
  #set( $ownerEntitiesLastIdx = $ownerEntities.size() - 1 )
  #set( $ownerEntitiesLast = $ownerEntities[$ownerEntitiesLastIdx] )
  $util.qr($ctx.source.put("author", $ownerEntitiesLast))
  $util.toJson($ctx.source.author)
#end
## [End] Parse owner field auth for Get. **