@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Light Theme */
    --light-bg-1: #f8fafc;
    --light-bg-2: #f1f5f9;
    --light-bg-3: #e2e8f0;
    --light-fg-1: #020617;
    --light-fg-2: #475569;
    --light-accent: #facc15;
    /* Dark Theme */
    --dark-bg-1: #334155;
    --dark-bg-2: #1e293b;
    --dark-bg-3: #0f172a;
    --dark-fg-1: #f8fafc;
    --dark-fg-2: #cbd5e1;
    --dark-accent: #38bdf8;
}
